@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "./root.css";
@import "./components/inputfield.css";
@import "./components/app.css";
@import "./components/button.css";

body{
    font-family: "Caveat", cursive;
    background-image: url("../../src/assets/images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}